<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product_detail</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/product_detail.css">
</head>

<body>
    <!-- Header -->
    <div id="header">
        <div class="header__navbar grid wide">
            <div class="logo">
                <img class="logo-img" src="https://mia.vn/images/logo.svg" alt="">
            </div>
            <div class="header__navbar-menu">
                <a class="header__navbar-menu-font menu_font" href="">Vali</a>
                <a class="header__navbar-menu-font menu_font" href="">Balo</a>
                <a class="header__navbar-menu-font menu_font" href="">Túi xách</a>
                <a class="header__navbar-menu-font menu_font" href="">Phụ kiện</a>
                <a class="header__navbar-menu-font menu_font" href=""> Mia Go!</a>
                <a class="header__navbar-menu-font menu_font" href="">Ăn gì ở đâu</a>
                <a class="header__navbar-menu-font menu_font" href="">Bí kíp chọn hành lý</a>
            </div>
            <div class="header__navbar-icons">
                <div><span class="material-symbols-outlined icon-search">search</span></div>
                <div><span class="material-symbols-outlined icon-cart">shopping_cart</span></div>
            </div>
        </div>
    </div>
    <!-- Section -->
    <div id="container">
        <div class="grid wide">
            <div class="product_detail_title">
                <a class="product_detail_title-text" href="">Trang chủ</a>
                <p class="product_detail_title-text">/</p>
                <a class="product_detail_title-text" href="">Vali</a>
            </div>
            <div class="product_detail_box">
                <div class="row">
                    <div class="col col-2">
                        <div class="product_detail_box-img">
                            <img class="product_detail_box-img-primary" src="/images/products/Larita_Asti_ID2047.jpg"
                                alt="">
                            <div class="product_detail_box-styles">
                                <img class="product_detail_box-styles-img" src="/images/products/Larita_Asti_ID2047.jpg"
                                    alt="">
                                <img class="product_detail_box-styles-img" src="/images/products/Larita_Asti_ID2047.jpg"
                                    alt="">
                                <img class="product_detail_box-styles-img" src="/images/products/Larita_Asti_ID2047.jpg"
                                    alt="">
                                <img class="product_detail_box-styles-img" src="/images/products/Larita_Asti_ID2047.jpg"
                                    alt="">
                            </div>
                            <div class="product_detail_box-btn-slide">
                                <span class="material-symbols-outlined">arrow_back_ios</span>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                            <div class="product_detail_box-doc">
                                <div class="product_detail_box-doc-slide"></div>
                                <div class="product_detail_box-doc-slide"></div>
                                <div class="product_detail_box-doc-slide"></div>
                                <div class="product_detail_box-doc-slide"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-2">
                        <div class="product_detail_box_info">
                            <div class="product_detail_box_info-name">
                                <a href="" class="product_detail_box_info-name-origin">Thương hiệu:
                                    <span class="product_detail_box_info-name-origin-color">Pisani</span>
                                </a>
                                <div class="product_detail_box_info-name-text">
                                    <p class="product_detail-name">Vali Pisani Tarus PP12_20 S Red</p>
                                    <p class="product_detail-star">5*<span
                                            class="product_detail-star-quantity">(100)</span></p>
                                </div>
                                <div class="product_detail_box_info-price">
                                    <div class="product_detail_box_info-price-box">
                                        <span class="product_detail_box_info-price-sale">1.499.000₫</span>
                                        <span class="product_detail_box_info-price-origin">2.330.000₫</span>
                                        <span class="product_detail_box_info-price-percent">-36%</span>
                                    </div>
                                    <div class="product_detail_box_info-price-ship">
                                        <p class="product_detail_box_info-price-ship-text">Giao hoả tốc 2h</p>
                                    </div>
                                </div>
                                <div class="product_detail_box_info-price-more">
                                    <p class="product_detail_box_info-price-more-sale">hoặc trả trước <span
                                            class="product_detail_box_info-price-more-sale-special">499.667₫</span> x 3
                                        kỳ với Kredivo
                                        <a class="product_detail_box_info-price-more-sale-detail" href="">Xem hướng
                                            dẫn</a>
                                    </p>
                                </div>
                                <div class="product_detail_box_info-color">
                                    <p class="product_detail_box_info-color-title">Màu sắc:</p>
                                    <div class="product_detail_box_info-color-box-img">
                                        <img class="product_detail_box_info-color-img"
                                            src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                    </div>
                                    <div class="product_detail_box_info-color-box-img">
                                        <img class="product_detail_box_info-color-img"
                                            src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                    </div>
                                    <div class="product_detail_box_info-color-box-img">
                                        <img class="product_detail_box_info-color-img"
                                            src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_detail_box_info-size">
                                    <div class="product_detail_box_info-size-title">
                                        <p class="product_detail_box_info-size-title-text">Kích thước:</p>
                                        <a class="product_detail_box_info-size-title-toturial" href="">Hướng dẫn chọn
                                            size</a>
                                    </div>
                                    <div class="product_detail_box_info-size-content">
                                        <div class="product_detail_box_info-size-content-select">
                                            <p class="product_detail_box_info-size-content-select-text">S - 20 inch</p>
                                        </div>
                                        <div class="product_detail_box_info-size-content-select">
                                            <p class="product_detail_box_info-size-content-select-text">M - 24 inch</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_detail_box_info-promotion">
                                    <ul>
                                        <li class="product_detail_box_info-promotion-text">TẶNG túi đựng giày Mia Sport
                                            trị giá 189K cho đơn hàng chứa vali từ 1Tr</li>
                                        <li class="product_detail_box_info-promotion-text">Miễn phí vận chuyển toàn quốc
                                        </li>
                                        <li class="product_detail_box_info-promotion-text">Ưu đãi áp dụng từ 01.07 -
                                            03.07</li>
                                    </ul>
                                    <span class="product_detail_box_info-promotion-label">Khuyến mãi</span>
                                </div>
                                <div class="product_detail_box_info_btn-box">
                                    <button class="product_detail_box_info_btn-box-more">Xem các siêu thị còn
                                        hàng</button>
                                    <button class="product_detail_box_info_btn-box-cart">Thêm vào giỏ hàng</button>
                                </div>
                                <div class="product_detail_box_info_guarantee row">
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-02.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Bảo hành trọn đời <br> trên
                                            toàn hệ thống</p>
                                    </div>
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-03.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Đổi trả trong 365 ngày <br>
                                            nếu không hài lòng</p>
                                    </div>
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-04.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Hoàn tiền 100% <br> nếu sản
                                            phẩm gặp lỗi</p>
                                    </div>
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-01.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Cam kết chính hãng 100%</p>
                                    </div>
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-05.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Độc quyền phân phối <br> tại
                                            MIA.vn</p>
                                    </div>
                                    <div class="product_detail_box_info_guarantee-item col col-3">
                                        <img class="product_detail_box_info_guarantee-img"
                                            src="https://mia.vn/images/commit-06.svg" alt="">
                                        <p class="product_detail_box_info_guarantee-text">Thanh toán khi <br> nhận hàng
                                            (COD)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_detail_content">
                <img src="https://mia.vn/images/why-choose-mia-pc.jpg" alt="">
            </div>
            <div class="product_detail_reviews-box">
                <div class="product_detail_reviews-box-item">
                    <p class="product_detail_reviews-quantity">100 đánh giá</p>
                    <div class="product_detail_reviews-star">5<span class="material-symbols-outlined">kid_star</span>
                    </div>
                    <div class="product_detail_reviews-user">
                        <div class="product_detail_reviews-user-star">
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                        </div>
                        <div class="product_detail_reviews-user-comment-box">
                            <div class="product_detail_reviews-user-comment-box-name">
                                <p class="reviews_name">huynhhonghuong <i class="reviews_buy_from">mua từ Shopee</i></p>
                                <p class="reviews_date">03/07/2024</p>
                            </div>
                            <div class="reviews_user-comment">
                                <p class="user_comment">Thấy quảng cáo đẹp lắm mua sài thử, thấy bảo hành trọn đời lận.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product_detail_reviews-user">
                        <div class="product_detail_reviews-user-star">
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                        </div>
                        <div class="product_detail_reviews-user-comment-box">
                            <div class="product_detail_reviews-user-comment-box-name">
                                <p class="reviews_name">huynhhonghuong <i class="reviews_buy_from">mua từ Shopee</i></p>
                                <p class="reviews_date">03/07/2024</p>
                            </div>
                            <div class="reviews_user-comment">
                                <p class="user_comment">Thấy quảng cáo đẹp lắm mua sài thử, thấy bảo hành trọn đời lận.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product_detail_reviews-user">
                        <div class="product_detail_reviews-user-star">
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                        </div>
                        <div class="product_detail_reviews-user-comment-box">
                            <div class="product_detail_reviews-user-comment-box-name">
                                <p class="reviews_name">huynhhonghuong <i class="reviews_buy_from">mua từ Shopee</i></p>
                                <p class="reviews_date">03/07/2024</p>
                            </div>
                            <div class="reviews_user-comment">
                                <p class="user_comment">Thấy quảng cáo đẹp lắm mua sài thử, thấy bảo hành trọn đời lận.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product_detail_reviews-user">
                        <div class="product_detail_reviews-user-star">
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                            <span class="material-symbols-outlined">kid_star</span>
                        </div>
                        <div class="product_detail_reviews-user-comment-box">
                            <div class="product_detail_reviews-user-comment-box-name">
                                <p class="reviews_name">huynhhonghuong <i class="reviews_buy_from">mua từ Shopee</i></p>
                                <p class="reviews_date">03/07/2024</p>
                            </div>
                            <div class="reviews_user-comment">
                                <p class="user_comment">Thấy quảng cáo đẹp lắm mua sài thử, thấy bảo hành trọn đời lận.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_detail_introduce">
                <div class="product_detail_introduce-title">
                    <p class="product_detail_introduce-title-text">Sản phẩm tương tự</p>
                </div>
                <div class="row">
                    <div class="col col-5">
                        <div class="product">
                            <div class="product_img-background">
                                <a href="">
                                    <img class="product_img" src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                </a>
                                <div class="ship-tittle">Giao hỏa tốc 2h</div>
                                <div class="producer"><img src="https://mia.vn/images/flags/canada.jpg" alt="">
                                </div>
                            </div>
                            <div class="product_colors">
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                                <div class="color-4"></div>
                            </div>
                            <a href="">
                                <p class="product_name">Larita Asti ID2047</p>
                                <div class="product_price">
                                    <span class="product_price-sale">999.000₫</span>
                                    <span class="product_price-origin">1.815.000₫</span>
                                    <span class="product_price-percent">-45%</span>
                                </div>
                                <div class="product_star">
                                    <span class="product_star-numbers">5</span>
                                    <span class="product_star-icon">*</span>
                                    <span class="product_star-quantity">(100)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-5">
                        <div class="product">
                            <div class="product_img-background">
                                <a href="">
                                    <img class="product_img" src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                </a>
                                <div class="ship-tittle">Giao hỏa tốc 2h</div>
                                <div class="producer"><img src="https://mia.vn/images/flags/canada.jpg" alt="">
                                </div>
                            </div>
                            <div class="product_colors">
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                                <div class="color-4"></div>
                            </div>
                            <a href="">
                                <p class="product_name">Larita Asti ID2047</p>
                                <div class="product_price">
                                    <span class="product_price-sale">999.000₫</span>
                                    <span class="product_price-origin">1.815.000₫</span>
                                    <span class="product_price-percent">-45%</span>
                                </div>
                                <div class="product_star">
                                    <span class="product_star-numbers">5</span>
                                    <span class="product_star-icon">*</span>
                                    <span class="product_star-quantity">(100)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-5">
                        <div class="product">
                            <div class="product_img-background">
                                <a href="">
                                    <img class="product_img" src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                </a>
                                <div class="ship-tittle">Giao hỏa tốc 2h</div>
                                <div class="producer"><img src="https://mia.vn/images/flags/canada.jpg" alt="">
                                </div>
                            </div>
                            <div class="product_colors">
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                                <div class="color-4"></div>
                            </div>
                            <a href="">
                                <p class="product_name">Larita Asti ID2047</p>
                                <div class="product_price">
                                    <span class="product_price-sale">999.000₫</span>
                                    <span class="product_price-origin">1.815.000₫</span>
                                    <span class="product_price-percent">-45%</span>
                                </div>
                                <div class="product_star">
                                    <span class="product_star-numbers">5</span>
                                    <span class="product_star-icon">*</span>
                                    <span class="product_star-quantity">(100)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-5">
                        <div class="product">
                            <div class="product_img-background">
                                <a href="">
                                    <img class="product_img" src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                </a>
                                <div class="ship-tittle">Giao hỏa tốc 2h</div>
                                <div class="producer"><img src="https://mia.vn/images/flags/canada.jpg" alt="">
                                </div>
                            </div>
                            <div class="product_colors">
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                                <div class="color-4"></div>
                            </div>
                            <a href="">
                                <p class="product_name">Larita Asti ID2047</p>
                                <div class="product_price">
                                    <span class="product_price-sale">999.000₫</span>
                                    <span class="product_price-origin">1.815.000₫</span>
                                    <span class="product_price-percent">-45%</span>
                                </div>
                                <div class="product_star">
                                    <span class="product_star-numbers">5</span>
                                    <span class="product_star-icon">*</span>
                                    <span class="product_star-quantity">(100)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col col-5">
                        <div class="product">
                            <div class="product_img-background">
                                <a href="">
                                    <img class="product_img" src="/images/products/Larita_Asti_ID2047.jpg" alt="">
                                </a>
                                <div class="ship-tittle">Giao hỏa tốc 2h</div>
                                <div class="producer"><img src="https://mia.vn/images/flags/canada.jpg" alt="">
                                </div>
                            </div>
                            <div class="product_colors">
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                                <div class="color-4"></div>
                            </div>
                            <a href="">
                                <p class="product_name">Larita Asti ID2047</p>
                                <div class="product_price">
                                    <span class="product_price-sale">999.000₫</span>
                                    <span class="product_price-origin">1.815.000₫</span>
                                    <span class="product_price-percent">-45%</span>
                                </div>
                                <div class="product_star">
                                    <span class="product_star-numbers">5</span>
                                    <span class="product_star-icon">*</span>
                                    <span class="product_star-quantity">(100)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="grid wide">
            <div class="footer_search-hot">
                <div class="footer_title-search">Tìm kiếm nhiều</div>
                <a href="" class="footer_title-product">Vali kéo du lịch</a>
                <a href="" class="footer_title-product">Vali khóa khung</a>
                <a href="" class="footer_title-product">Balo thời trang</a>
                <a href="" class="footer_title-product">Balo đựng laptop</a>
            </div>
            <div class="footer__banner">
                <img src="/images/img_footer/footer_banner.jpg" alt="">
            </div>
            <div class="row footer_show-proof">
                <div class="col col-5">
                    <img class="footer_img-proof" src="/images/img_footer/img_proof1.jpg" alt="">
                    <p class="footer_img_describle">Á hậu 1 Hoàn vũ 2022 Thảo Nhi</p>
                </div>
                <div class="col col-5">
                    <img class="footer_img-proof" src="/images/img_footer/img_proof2.jpg" alt="">
                    <p class="footer_img_describle">Á hậu 2 Hoàn vũ 2022 Thuỷ Tiên</p>
                </div>
                <div class="col col-5">
                    <img class="footer_img-proof" src="/images/img_footer/img_proof3.jpg" alt="">
                    <p class="footer_img_describle">HHHV Việt Nam 2017 - H'Hen Niê</p>
                </div>
                <div class="col col-5">
                    <img class="footer_img-proof" src="/images/img_footer/img_proof4.jpg" alt="">
                    <p class="footer_img_describle">Cầu thủ Nguyễn Quang Hải</p>
                </div>
                <div class="col col-5">
                    <img class="footer_img-proof" src="/images/img_footer/img_proof5.jpg" alt="">
                    <p class="footer_img_describle">Ca sĩ Thủy Tiên</p>
                </div>
            </div>
        </div>
        <div class=" footer__guarantee">
            <div class="grid wide row">
                <div class="guarantee_info col col-4">
                    <img src="https://mia.vn/images/policy/warranty.svg" alt="">
                    <div>
                        <span class="guarantee_info-1">Bảo hành trọn đời</span>
                        <span class="guarantee_info-2">Trên toàn hệ thống</span>
                    </div>
                </div>
                <div class="guarantee_info col col-4">
                    <img src="https://mia.vn/images/policy/auth.svg" alt="">
                    <div>
                        <span class="guarantee_info-1">Hàng chính hãng 100%</span>
                        <span class="guarantee_info-2">Hoàn tiền nếu phát hiện hàng giả</span>
                    </div>
                </div>
                <div class="guarantee_info col col-4">
                    <img src="https://mia.vn/images/policy/return.svg" alt="">
                    <div>
                        <span class="guarantee_info-1">Đổi trả trong 365 ngày</span>
                        <span class="guarantee_info-2">Nếu không hài lòng</span>
                    </div>
                </div>
                <div class="guarantee_info col col-4">
                    <img src="https://mia.vn/images/policy/cashback.svg" alt="">
                    <div>
                        <span class="guarantee_info-1">Hoàn tiền 100%</span>
                        <span class="guarantee_info-2">Nếu sản phẩm gặp lỗi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__mia-info">
            <div class="grid wide row">
                <div class="hot_line col col-4">
                    <a href="" class="hot_line-tittle">Hệ thống siêu thị</a>
                    <div>
                        <p class="hot_line-text">Hotline: 8h - 22h (miễn phí)</p>
                        <a href="" class="hot_line-phone">1800 6198</a>
                    </div>
                    <div>
                        <p class="hot_line-B2B">B2B (Khách doanh nghiệp)</p>
                        <a href="" class="hot_line-B2b-phone">0918.197.299</a>
                    </div>
                    <div>
                        <a href="" class="hot_line-email">Email: b2b@mia.vn</a>
                    </div>
                </div>
                <div class="customer_survice col col-4">
                    <div class="customer_survice-tittle">Hỗ trợ khách hàng</div>
                    <a class="customer_survice-info" href="">MIA Care - Sửa Vali Tận Nhà</a>
                    <a class="customer_survice-info" href="">Hướng dẫn sử dụng khóa Vali</a>
                    <a class="customer_survice-info" href="">Hướng dẫn sử dụng mã voucher</a>
                    <a class="customer_survice-info" href="">Chính sách khách hàng thân thiết</a>
                    <a class="customer_survice-info" href="">Phương thức thanh toán</a>
                    <a class="customer_survice-info" href="">Chính sách đổi trả</a>
                    <a class="customer_survice-info" href="">Chính sách bảo hành</a>
                    <a class="customer_survice-info" href="">Chính sách vận chuyển</a>
                    <a class="customer_survice-info" href="">Chính sách bảo mật</a>
                </div>
                <div class="mia_infos col col-4">
                    <div class="mia_infos-tittle">Về MIA.vn</div>
                    <a class="mia_info" href="">Đặt hàng doanh nghiệp (B2B)</a>
                    <a class="mia_info" href="">Giới thiệu MIA.vn</a>
                    <a class="mia_info" href="">Tuyển dụng</a>
                    <a class="mia_info" href="">Bí kíp chọn hành lý</a>
                    <a class="mia_info" href="">MIA Go! Ăn gì ở đâu?</a>
                    <a class="mia_info" href="">MIAGO AQUARIUS</a>
                </div>
                <div class="socials col col-4">
                    <div class="social-tittle">Kết nối với MIA.vn</div>
                    <div class="social">
                        <a href="">
                            <img src="https://mia.vn/images/fb.svg" alt="">
                        </a>
                        <a href="">
                            <img src="https://mia.vn/images/youtube.svg" alt="">
                        </a>
                        <a href="">
                            <img src="https://mia.vn/images/tiktok.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>